/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Root colors used for the webpage */
:root {
  --black: #212529;
  --dark-grey: #343a40;
  --grey: #6c757d;
  --light-grey: #adb5bd;
  --white: #f8f9fa;
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: var(--white);
  color: var(--black);
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}
/* Specs for the Footer and Header Section */
header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--black);
}

header {
  text-align: right;
  position: fixed;
  border-bottom: 10px solid var(--light-grey);
}

nav a {
  text-decoration: none;
  color: #fdf8f5;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid var(--dark-grey);
  color: #fdf8f5;
}
/* Specs for the Images on the page */
img {
  width: 300px;
  height: auto;
  display: block;
  margin: 20px auto;
  border: 5px solid var(--black);
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid var(--dark-grey);
  background-color: var(--light-grey);
}

section a {
  color: var(--black);
}

/* Class Selectors */
.text-center {
  text-align: center;
}

/* Specs for the Flex wrap */
.row {
  display: flex;
}

.column {
  padding: 5px;
  width: 50%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
