/* Universal Selector */
* {
  margin:0;
  padding:0; 
  box-sizing: border-box; 
}
:root{
  --black:#212529;
  --dark-grey: #343a40;
  --grey:#6c757d;
  --light-grey:#adb5bd;
  --white:#f8f9fa;
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: var(--white);
  color: var(--black);
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--black);
}

header {
  position: fixed;
  border-bottom: 10px solid var(--light-grey);
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid var(--dark-grey);
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  width: 300px;
  height: auto;
  display: block;
  margin: 20px auto;
  border: 5px solid var(--black);
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid var(--dark-grey); 
  background-color: var(--light-grey); 
}

section a {
  color:var(--black);
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #DDAF94;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid var(--black);
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
.row {
  display: flex;
}


.column {
  flex: 33.33%;
  padding: 5px;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
